<div class="container">
    <div class="row pt-5 mb-2">
        <div class="container">
            <div class="row p-3">
                <div class="col-sm-9">
                    <input #query (keyup)="filter(query.value)" class="form-control mr-sm-2" type="search"
                        placeholder="Search by title" aria-label="Search">
                </div>
                <div class="col-sm-3 " style="text-align:right;  ">
                    <a routerLink="/admin/products/create" class="btn btn-primary">+ Add Product</a>
                </div>
            </div>
        </div>

        <div class="row pt-3 shadow p-3 mb-5 bg-body rounded width:auto">
            <table class="table text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Category</th>
                        <th [width]="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of filterProducts">
                        <td>{{i.title}}</td>
                        <td>{{i.detail}}</td>
                        <td>{{i.price | currency:"Rp. "}}</td>
                        <td>{{i.stock}}</td>
                        <td>{{i.category}}</td>
                        <td>
                            <a [routerLink]="['/admin/products/',i.id]"
                                style="text-decoration: none; color: deepskyblue; margin-right: 10%;"> Edit</a>
                            <a [routerLink]="[]" (click)="deleteById(i.id)"
                                style="text-decoration: none; color:tomato;">
                                delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-- <div class="row">
        <form>
            <div class="mb-3 row">
                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                        [(ngModel)]="service.searchTerm">
                </div>
                <span class="col col-form-label" *ngIf="service.loading$ | async">Loading...</span>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" sortable="title" (sort)="onSort($event)">title</th>
                        <th scope="col" sortable="detail">detail</th>
                        <th scope="col" sortable="price" (sort)="onSort($event)">price</th>
                        <th scope="col" sortable="stock" (sort)="onSort($event)">stock</th>
                        <th scope="col" sortable="category" (sort)="onSort($event)">category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries$ | async">
                        <th scope="row">{{ country.id }}</th>
                        <td>
                            <ngb-highlight [result]="country.title" [term]="service.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="country.detail" [term]="service.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="country.price | number" [term]="service.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="country.stock | number" [term]="service.searchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="country.category" [term]="service.searchTerm"></ngb-highlight>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                    [pageSize]="service.pageSize">
                </ngb-pagination>

                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="5">5 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="15">15 items per page</option>
                </select>
            </div>

        </form>
    </div> -->
    </div>