<div class="container">
    <div class="row pt-5 mb-2">
        <div class="container">
            <div class="row p-3">
                <div class="col-sm-9">
                    <input #query (keyup)="filter(query.value)" class="form-control mr-sm-2" type="search"
                        placeholder="Search by title" aria-label="Search">
                </div>
                <div class="col-sm-3 " style="text-align:right;  ">
                    <a routerLink="/admin/products/create" class="btn btn-primary">+ Add Product</a>
                </div>
            </div>
        </div>

        <div class="row pt-3 shadow p-3 mb-5 bg-body rounded width:auto">
            <table class="table text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Category</th>
                        <th [width]="150">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of filterProducts">
                        <td>{{i.name}}</td>
                        <td>{{i.description | description }}</td>
                        <td>{{i.price | currency:"Rp. "}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.category}}</td>
                        <td>
                            <a [routerLink]="['/admin/products/',i.id]"
                                style="text-decoration: none; color: deepskyblue; margin-right: 10%;"> Edit</a>
                            <a (click)="deleteById(i.id)" [routerLink]="[]"
                                style="text-decoration: none; color:tomato;">
                                delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

