<div class="row shadow p-3 mb-5 bg-body rounded" style="margin-top: 15px;">
  <div class="col-md-6">
    <h4 class="mt-4 mb-3 fw-bold">Product</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- title -->
      <div class="form-group">
        <label>Title</label>
        <input formControlName="name" [(ngModel)]="updateProduct.name" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
        <div *ngIf="f['name'].invalid" class="invalid-feedback">
          <div *ngIf="f['name'].errors?.['required']">Title is required.</div>
        </div>
      </div>

      <!-- detail -->
      <div class="form-group">
        <label>Detail</label>
        <textarea rows="5" formControlName="description" [(ngModel)]="updateProduct.description" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
        <div *ngIf="f['description'].invalid" class="invalid-feedback">
          <div *ngIf="f['description'].errors?.['required']">Detail is required.</div>
        </div>
      </div>

      <!-- price -->
      <div class="form-group">
        <label>Price</label>
        <div class="input-group">
          <span class="input-group-text">Rp</span>
          <input formControlName="price" [(ngModel)]="updateProduct.price" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
          <span class="input-group-text">.00</span>
          <div *ngIf="f['price'].invalid" class="invalid-feedback">
            <div *ngIf="f['price'].errors?.['required']">Price is required.</div>
            <div *ngIf="f['price'].errors?.['min']">Price should be 0 or higher.</div>
            <div *ngIf="f['price'].errors?.['pattern']">Number only.</div>
          </div>
        </div>
      </div>

      <!-- stock -->
      <div class="form-group">
        <label>Stock</label>
        <input formControlName="quantity" [(ngModel)]="updateProduct.quantity" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }" />
        <div *ngIf="f['quantity'].invalid" class="invalid-feedback">
          <div *ngIf="f['quantity'].errors?.['required']">Stock is required.</div>
          <div *ngIf="f['quantity'].errors?.['min']">Stock should be 0 or higher.</div>
          <div *ngIf="f['quantity'].errors?.['pattern']">Number only.</div>
        </div>
      </div>

      <!-- category -->
      <div class="form-group">
        <label>Category</label>
        <select formControlName="category" [(ngModel)]="updateProduct.category" type="text" class="form-control" [value]=""
          [ngClass]="{ 'is-invalid': submitted && f['category'].errors}">
          <option value="" disabled> Choose.. </option>
          <option *ngFor="let item of categories" value={{item.title}}>
            {{item.title}}
          </option>
        </select>
        <div *ngIf="f['category'].invalid" class="invalid-feedback">
          <div *ngIf="f['category'].errors?.['required']">Category is required.</div>
          <div *ngIf="f['category'].errors?.['nullValidator']">Select one.</div>
        </div>
      </div>

      <!-- Image -->
      <div class="form-group">
        <label>Image URL</label>
        <input formControlName="image" [(ngModel)]="updateProduct.image" type="url" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['image'].errors }" />
        <div *ngIf="f['image'].invalid" class="invalid-feedback">
          <div *ngIf="f['image'].errors?.['required']">Image URL is required.</div>
          <div *ngIf="f['image'].errors?.['pattern']">Please enter a valid URL.</div>
        </div>
      </div>
      <button class="btn btn-primary mb-5">Save</button>
    </form>
  </div>
  <div class="col-md-6 pt-7 " >
    <div class="p-5 d-flex justify-content-center">
      <app-product-display [product]="dataProduct" [show-actions]="false"></app-product-display>
    </div>
  </div>